<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/redux/dist/redux.js'></script>
    <script src='/javascripts/store/actions.js'></script>
    <script src='/javascripts/store/store.js'></script>
    <script src='/javascripts/ui/ui.js'></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
